### Java / Maven ###
target/
out/
*.class
*.jar

### Eclipse JDT (jdtls) ###
.classpath
.project
.settings/
.factorypath
.apt_generated/
bin/

### IntelliJ IDEA ###
.idea/
*.iml

### VS Code ###
.vscode/

### OS ###
.DS_Store
